In [121]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}

In [8]:
!which chromedriver

In [31]:
!which chromedriver

In [32]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}

In [34]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

In [79]:
browser.visit('https://mars.nasa.gov/news/')

In [84]:
html = browser.html
news = BeautifulSoup(html, 'html.parser')
slide = news.select_one('ul.item_list li.slide')

In [85]:
news_title = slide.find("div", class_='content_title').get_text()
news_title

'Curiosity on the Move Again'

In [86]:
#news_title = 'Curiosity on the Move Again'

In [87]:
news_paragraph=slide.find('div', class_="article_teaser_body").get_text()

In [88]:
news_paragraph

"NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles."

In [89]:
#news_paragraph = "NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles."

JPL Space Images Featured Image

In [101]:

browser.visit('https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars')

In [102]:
FullImage=browser.find_by_id('full_image')
FullImage

In [103]:
FullImage.click()

In [104]:
browser.is_element_present_by_text('more info')
MoreInfo = browser.find_link_by_partial_text('more info')
MoreInfo

In [105]:
MoreInfo.click()

In [108]:
html2=browser.html
Image=BeautifulSoup(html2, 'html.parser')

In [109]:
Relative=Image.select_one('figure.lede a img').get("src")
Relative

'/spaceimages/images/largesize/PIA18907_hires.jpg'

In [114]:
featured_image_url = f'https://www.jpl.nasa.gov{Relative}'
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18907_hires.jpg'

The featured image url is 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18907_hires.jpg'

Mars Weather

In [115]:
url2 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url2)

In [116]:
html3 = browser.html
Weather = BeautifulSoup(html3, 'html.parser')

In [117]:
Tweet = Weather.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})

In [119]:
mars_weather = Tweet.find('p', 'tweet-text').get_text()
mars_weather

'Sol 2223 (2018-11-07), high 2C/35F, low -64C/-83F, pressure at 8.50 hPa, daylight 06:18-18:35'

In [120]:
url4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url4)

Mars Facts

In [141]:
table = pd.read_html('http://space-facts.com/mars/')
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [142]:
table[0].columns=['Attribute','Value']
table

[              Attribute                          Value
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [144]:
table[0].to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Attribute</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'